:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* components */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

.section-top-text {
  font-size: 20px;
  line-height: 1.65;
}

.section-top-text-light {
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.section-top-text-dark {
  margin-bottom: 15px;
  color: var(--primary-text-color);
}

.section-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.section-title-light {
  margin-bottom: 26px;
  color: var(--secondary-text-color);
}

.section-title-dark {
  margin-bottom: 34px;
  color: var(--primary-text-color);
}

.section-bottom-text {
  line-height: 1.56;
}

.section-bottom-text-light {
  margin-bottom: 17px;
  color: var(--secondary-text-color);
}

.section-bottom-text-dark {
  margin-bottom: 39px;
  color: var(--primary-text-color);
}

/* HEADER */
.header {
  background-color: #5e5e5e;
}

.header .container {
  padding-left: 50px;
  padding-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.logo {
  margin-right: auto;
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  margin-right: 10px;
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #5e5e5e;
  padding-top: 259px;
  padding-bottom: 284px;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;
  margin-bottom: 45px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
  margin-bottom: 29px;
}

.hero-button {
  background-color: var(--accent-color);
  border-radius: 5px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  padding: 10px 30px 10px 41px;
}

/* ABOUT */

.about {
  padding-top: 122px;
  padding-bottom: 19px;

  background-color: #f4f4f4;
}

.about .container {
  padding: 0 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-item {
  width: calc((100% - 142px) / 3);
}

.about-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.about-text {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
}

/* SOLUTION */
.solution .container {
  padding: 0;
  display: flex;
}

.solution-wrapper {
  background-color: var(--accent-color);
  padding: 84px 44px 84px 30px;
}

.solution-button {
  display: inline-block;
  padding: 11px 27px 12px 42px;
  line-height: 1.56;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;

  color: var(--secondary-text-color);
}

/* Cases */
.cases {
  padding: 50px 0;
  text-align: center;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 8px;
}

.cases-item {
  width: calc((100% - 24px) / 4);
}
