@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

.header-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.container {
  margin: 0 auto;
  padding: 0 28px;

  @media screen and(min-width: $mobile) {
    width: 480px;
  }

  @media screen and(min-width: $tablet) {
    width: 768px;
  }

  @media screen and(min-width: $desktop) {
    width: 1360px;
  }
}
