<section class="blog">
  <div class="container">
    <div class="blog-content-wrapper">
      <p class="section-top-text section-top-text-light">April 16 2020</p>
      <h2 class="section-title section-title-light">Blog Post One</h2>
      <p class="section-bottom-text section-bottom-text-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="button link blog-btn" href="">Read Our Blog</a>
    </div>
    <img
      src="./images/blog/blog.jpg"
      alt="coffee-cup"
      width="680"
      height="517"
      loading="lazy"
    />
  </div>
</section>
