<section class="form">
    <div class="container">
        <img class="form-img" src="./images/form/callback.jpg" alt="form" width="680" height="460" />
        <div class="form-wrapper">
            <h2 class="section-title form-title">
                Request Callback
            </h2>
            <form class="callback-form">
                <input class="form-input" type="text" placeholder="Enter your name">
                <input class="form-input form-email" type="email" placeholder="Enter email*" required>
                <button type="submit" class="form-btn">Send</button>
            </form>
        </div>
    </div>
</section>