<section class="reviews">
  <div class="container">
    <div class="one-time">
      <div class="reviews-card">
        <h3 class="reviews-title">Card-1</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>

      <div class="reviews-card">
        <h3 class="reviews-title">Card-2</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>

      <div class="reviews-card">
        <h3 class="reviews-title">Card-3</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>

      <div class="reviews-card">
        <h3 class="reviews-title">Card-4</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>

      <div class="reviews-card">
        <h3 class="reviews-title">Card-5</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>

      <div class="reviews-card">
        <h3 class="reviews-title">Card-6</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          inventore saepe, corrupti quaerat, aspernatur excepturi et quod
          debitis ea ex maiores repellendus animi illo veniam consectetur
          blanditiis deserunt esse. Suscipit laudantium molestiae voluptatibus
          nesciunt! Blanditiis repudiandae veritatis quos repellendus temporibus
          velit ut delectus deserunt soluta? Doloremque, recusandae iusto.
          Deleniti, error vel! Velit vitae dolorem perspiciatis tenetur et
          sapiente, odit aliquam minus sequi similique expedita rerum nulla
          laudantium accusantium ducimus exercitationem fugiat nihil! Dicta ad
          libero ipsum maxime, incidunt nihil distinctio id? Nostrum quod magni,
          id molestias ducimus molestiae natus accusamus soluta quas quisquam
          quibusdam porro quis delectus sunt repellendus ad sequi ratione. Vero,
          recusandae inventore. Tempora perspiciatis exercitationem voluptatibus
          veritatis quo excepturi omnis laudantium provident necessitatibus?
          Eveniet sint voluptates consequuntur explicabo ab exercitationem vero
          natus temporibus sed autem quaerat veritatis dolores aliquam molestiae
          in sequi, vel suscipit. Modi perspiciatis pariatur nesciunt maxime
          ipsam rerum, voluptas sapiente sit officia aspernatur? Accusamus,
          rerum modi, voluptatum minus doloribus ex tenetur deleniti facere sunt
          natus pariatur adipisci culpa! Cumque, molestias! Ex eaque cumque
          alias iure odio at odit molestias sed accusantium rerum dignissimos,
          voluptatem culpa, vel molestiae, recusandae atque et impedit
          doloremque possimus ut sint in necessitatibus repellendus. Provident
          libero dolorem earum veniam recusandae!
        </p>
      </div>
    </div>
  </div>
</section>
