<section class="solution">
  <div class="container">
    <img
      class="solution-img"
      src="./images/solution/solution.jpg"
      alt="team"
      width="680"
      height="460"
    />
    <div class="solution-wrapper">
      <p class="section-top-text section-top-text-light">
        What you are looking for
      </p>
      <h2 class="section-title section-title-light">
        We provide bespoke solutions
      </h2>
      <p class="section-bottom-text section-bottom-text-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="button link solution-btn" href="">Read More</a>
    </div>
  </div>
</section>
