<section class="team">
  <div class="container">
    <p class="section-top-text section-top-text-dark">Who we are</p>
    <h2 class="section-title section-title-dark">Our Professional Team</h2>
    <p class="section-bottom-text section-bottom-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-img"
          src="./images/team/rectangle-1.jpg"
          alt="John"
          width="420"
          height="280"
        />
        <h3 class="team-img-title">John Doe</h3>
        <p class="team-img-text">President</p>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          src="./images/team/rectangle-2.jpg"
          alt="Jane"
          width="420"
          height="280"
        />
        <h3 class="team-img-title">Jane Doe</h3>
        <p class="team-img-text">Vice President</p>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          src="./images/team/rectangle-3.jpg"
          alt="Steve"
          width="420"
          height="280"
        />
        <h3 class="team-img-title">Steve Smith</h3>
        <p class="team-img-text">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
