.section-bottom-text {
  line-height: 1.56;

  &-light {
    margin-bottom: 17px;
    color: var(--secondary-text-color);
  }

  &-dark {
    margin-bottom: 39px;
    color: var(--primary-text-color);
  }
}
