.about {
  padding-top: 40px;
  padding-bottom: 19px;
  max-width: 1360px;
  margin: 0 auto;

  background-color: #f4f4f4;

  & .container {
    padding: 0 66px;
  }

  &-list {
    display: flex;
    gap: 71px;
  }

  &-item {
    width: calc((100% - 142px) / 3);
  }

  &-icon-wrapper {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: var(--accent-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
  }

  &-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }

  &-text {
    line-height: 1.56;
    text-align: center;
    color: var(--primary-text-color);
  }
}
