.header {
  position: fixed;
  width: 100%;
  z-index: 1;

  & .container {
    padding: 0 28px;

    @media screen and(min-width: $desktop) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .nav {
    @media screen and(min-width: $tablet) {
      display: flex;
      align-items: center;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 12px;

      @media screen and(min-width: $tablet) {
        gap: 18px;
      }

      @media screen and(min-width: $desktop) {
        gap: 38px;
      }
    }

    &-link {
      position: relative;
      display: block;
      padding-top: 21px;
      padding-bottom: 21px;
      line-height: 1.56;
      color: var(--secondary-text-color);
      font-size: 16px;

      transition: color 250ms ease;

      @media screen and(min-width: $tablet) {
        font-size: 18px;
      }

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &:hover::after,
      &:focus::after {
        content: '';
        display: block;

        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--accent-color);
      }
    }
  }

  & .logo {
    margin-right: auto;

    padding-top: 21px;
    font-size: 32px;
    line-height: 1.21;
    color: var(--secondary-text-color);

    display: flex;
    align-items: center;

    @media screen and(min-width: $tablet) {
      padding-top: 0;
      font-size: 35px;
    }

    &-icon {
      margin-right: 10px;
      fill: var(--accent-color);
    }
  }

  & .accent {
    margin-right: 12px;
    color: var(--accent-color);
  }
}
