.reviews {
  padding: 200px 0;

  &-card {
    background-color: #5e5e5e;
    height: 600px;
    padding: 100px;
  }

  &-title {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
  }
}

.slick-prev:before,
.slick-next:before {
  color: red;
}

.slick-dots li.slick-active button:before {
  color: red;
}

.slick-dots li button:before {
  color: orange;
}
